[dionaea]
download.dir=/opt/dionaea/var/lib/dionaea/binaries/
modules=curl,python,nfq,nl,pcap
processors=filter_streamdumper,filter_emu

# Logging
[logging]
default.filename=/opt/dionaea/var/log/dionaea/dionaea.log
default.levels=all
default.domains=*

# JSON log output
[module.python.jsonlog]
handlers=log_json
log_json.filename=/opt/dionaea/var/log/dionaea.json

[nl]
interfaces=eth0

[services]
# SMB service - simulates Windows file sharing / NAS
smb.enabled=true
smb.port=445

# FTP service - simulates file server
ftp.enabled=true
ftp.port=21

# Disable other services to reduce noise
http.enabled=false
https.enabled=false
tftp.enabled=false
mysql.enabled=false
mssql.enabled=false
sip.enabled=false
memcache.enabled=false
upnp.enabled=false
mqtt.enabled=false
pptp.enabled=false

[submit]
# Don't submit samples externally
